<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.detroitevents.offwoodward</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>offwoodward</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>offwoodward</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Exo-Italic-VariableFont_wght.ttf</string>
		<string>Exo-VariableFont_wght.ttf</string>
		<string>Exo-Regular.ttf</string>
		<string>Exo-Bold.ttf</string>
		<string>Exo-Black.ttf</string>
	</array>
</dict>
</plist>
