<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>offwoodward</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Exo/Exo-VariableFont_wght.ttf</string>
		<string>Exo/Exo-Italic-VariableFont_wght.ttf</string>
		<string>Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf</string>
		<string>Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf</string>
	</array>
</dict>
</plist>
